<div class="article"><h3>current exchange rate</h3></div>
<div class="wrapper-header">
  <div class="wrapper">
    <div class="cc">{{ exchangeRates[25].cc }}</div>
    <div>{{ exchangeRates[25].rate }}</div>
  </div>

  <div class="wrapper">
    <div class="cc">{{ exchangeRates[32].cc }}</div>
    <div>{{ exchangeRates[32].rate }}</div>
  </div>
</div>

  <form class="decor" [formGroup]="contactForm" (ngSubmit)="submit(nameInter)">

    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
      <h3>Currency Converter</h3>
      <input type="number" placeholder="amount" #nameInter />
      <p class="p-content">
        <select formControlName="currencies">
          <option [ngValue]="null" disabled>Currency converter</option>
          <option *ngFor="let currency of currencies" [ngValue]="currency.id">
            {{ currency.name }}
          </option>
        </select>

        <button type="submit">Submit</button>
      </p>
    </div>
    <div class="result">UAH: {{ num }}</div>
  </form>
